<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">

	<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
	{% include 'django_facebook/_facebook_js.html' %}

	<link href="{{ STATIC_URL }}css/nvr.css" type="text/css" rel="stylesheet" media="all" />
	<link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" media="all" />
	

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<!-- Local compiled and minified JavaScript -->
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

	<script type="text/javascript">

	function remove(name) {
    	$.post("{{user.userprofile.id}}/remove/"+name,"remove")
	}

	$( document ).ready(function() 
		{{% for p in photos %}
			$("#r-{{ p.id }}").click(function(){
	    		remove("{{p.id}}");
	    		$("#r-{{ p.id }}").parent().hide()
			});
			$("#a-{{ p.id }}").click(function(){
	    		$("#a-{{ p.id }}").parent().hide()
			});
		{% endfor %}
	});

	</script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    	<a class="navbar-brand" href="index.html"> <img src="{{ STATIC_URL }}assets/LogoName53.png"> </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">RESULTS</a></li>
      <li><a href="#">ACCOUNT</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="bs-example" style="padding-bottom: 24px;">
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#processingData">
		Launch modal
	</button>
</div>

<!-- Modal -->
<div class="modal fade" id="processingData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">We're currently loading your content</h4>
      </div>
      <div class="modal-body">
        <h5>Our robots are reviewing your photos. We'll email you at {{user.email}} when the results are ready.</h5>
        <img style="max-width: 30%;" src="{{ STATIC_URL }}assets/Gears.png" >
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container">
	<div class="column" style="padding:45px;"> 
		<div class="col-md-4">
			<h3>Show Me:</h3>
		</div>
		<div class="col-md-8">
		{% for p in photos %}
			<div class="well">
				<button class="btn reject" onclick="" type="button"  name="mysubmitbutton" id="mysubmitbutton"> 
					<img class="photo" style="width:auto;" src="{{p.src}}">
				</button> 
				<button id="a-{{p.id}}" type="button" class="btn btn-success btn-lg btn-50" onclick="" >Keep Photo</button>
				<button id="r-{{p.id}}" type="button" class="btn btn-danger btn-lg btn-50" onclick="" >Delete Photo</button>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

<p> {{user.first_name}} </p>

</body>
</html